<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />
    <link rel="stylesheet" href="css/main.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />


    <!-- --------------- App init --------------- -->
    <script src="js/app.js"></script>

    <title>SRD Vault</title>

</head>

<body ng-controller="AppController">
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
    <!-- -->

    <ons-navigator var="navi">
        <ons-page>
            <ons-toolbar>
              <div class="center">Standard Reference Data</div>

              <!-- Toggle search input -->
              <div class="right">
                <button
                  ng-click="isSearchVisible = !isSearchVisible"
                  class="button button--quiet">
                  <ons-icon icon="ion-search" fixed-width="true"></ons-icon>
                </button>
              </div>

            </ons-toolbar>

            <ons-list ng-controller="MasterController">
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
                    <ons-row>
                        <ons-col width="60px">
                            <div class="item-thum srd-thumb">
                              <span class="srd-thumb">
                                SRD
                                <br />
                                {{ item.srd }}
                              </span>
                            </div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{item.title}}</span>
                                <span class="item-label">{{item.label}}</span>
                            </header>
                            <p class="item-desc">{{item.desc}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>

            <button class="button button--large button--light">+ new data set</button>
            <br />
            <ons-row>
              <span style="font-size: .6em; text-align: center">
                &nbsp;
                *This product uses data provided by the National Institute of Standards and Technology (NIST) but is not endorsed or certified by NIST.
                &nbsp;
              </span>
            </ons-row>
        </ons-page>
    </ons-navigator>

</body>

</html>
