<ons-page ng-controller="DetailController">

    <!-- Top navigation -->
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Details</div>
        <div class="right">
          <div search-toggle></div>
        </div>
    </ons-toolbar>


    <!-- Search field -->
    <div search-bar> </div>


    <!-- Data set description -->
    <ons-list modifier="inset" style="margin-top: 10px">

        <ons-list-item class="item">
            <ons-row>
                <ons-col width="60px">
                    <div class="item-thum srd-thumb">
                      <span class="srd-thumb">
                        SRD
                        <br />
                        {{ selectedDataset.srd }}
                      </span>
                    </div>
                </ons-col>
                <ons-col>
                    <header>
                        <span class="item-title">{{selectedDataset.title}}</span>
                        <span class="item-label">{{selectedDataset.label}}</span>
                    </header>
                    <p class="item-desc">{{selectedDataset.description}}</p>
                </ons-col>
            </ons-row>
        </ons-list-item>

    </ons-list>


    <!-- Data listings -->
    <ons-list style="margin-top: 10px">
      <div srd-item></div>
    </ons-list>

</ons-page>
