<ons-page>
  <ons-toolbar>
    <div class="center">Standard Reference Database</div>

    <!-- Toggle search input -->
    <div class="right">
      <div search-toggle></div>
    </div>

  </ons-toolbar>

  <!-- Search bar -->
  <div search-bar></div>

  <!-- Educational section -->
  <ons-list modifier="inset" class="moat">
      <ons-list-header>Daily Trivia</ons-list-header>
      <ons-list-item modifier="tappable" ng-click="showTrivia()">
        <a href='https://en.wikipedia.org/wiki/Fibonacci_number'>Fibonnaci numbers</a> (0, 1, 1, 2, 3, 5, 8, ...) appear frequently in nature, such as the number of petals in a sunflower.
        <br />

      </ons-list-item>
  </ons-list>

  <!-- datasets -->
  <ons-list modifier="inset" class="moat" ng-controller="MainController">

    <ons-list-header>Datasets</ons-list-header>
    <ons-list-item modifier="chevron" class="item" ng-repeat="dataset in datasets" ng-click="showDetail($index)">
      <ons-row>
        <!-- Thumbnail -->
        <ons-col width="60px">
          <div class="item-thum srd-thumb">
            <span class="srd-thumb">
              SRD
              <br />
              {{ dataset.srd }}
            </span>
          </div>
        </ons-col>

        <!-- Title and description -->
        <ons-col>
          <header>
              <span class="item-title">{{dataset.title}}</span>
          </header>
          <p class="item-desc">{{dataset.description}}</p>
        </ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" class="item">
      <button class="button button--large--quiet">+ new dataset</button>
    </ons-list-item>

  </ons-list>


  <!-- Footer -->
  <ons-row>
    <div class="footer">
      <p>
        &nbsp;
        * This product uses data provided by the National Institute of Standards and Technology (NIST) but is not endorsed or certified by NIST.
        &nbsp;
      </p>
    </div>
  </ons-row>
</ons-page>
