

/*Centering the thumbnail to allow a 'SRD 123' label*/
/*http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css*/
div.srd-thumb {
  /*TODO use dynamic colors for each SRD*/
  background-color: #883DAD;
  color: #eff;

  /*width: 250px;*/
  /*height: 100px;*/
  line-height: 50px;
  text-align: center;
}

span.srd-thumb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
